* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Red Hat Mono', monospace;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark: #21243D;
    --light: #8695A4;
}

/* header */
.header {
    margin: 25px 55px 0;

}

.header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.header nav ul li:not(:last-child) {
    margin-right: 20px;

}

.header nav ul li {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

/* header */

/* main */
/* info-section */


.container {
    margin: 0 135px;
}

.info {
    display: flex;
    margin-top: 140px;
    margin-bottom: 71px;
}


.info__about {
    width: 50%;

}

.info-title {
    font-weight: 700px;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 40px;
}

.info-img {
    width: 243px;
    height: 243px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

.informat-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img-wrapper {
    /* position: relative;
    overflow: hidden;  */
    height: 243px;
}

.img-wrapper::before {
    content: "";
    width: 243px;
    height: 243px;
    background-color: #EDF7Fa;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-5px, 13px);
}

.paraqraf {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    margin-bottom: 38px;
}

.btn {
    background-color: var(--primary);
    width: 208px;
    height: 47px;
    padding: 10px 21px;
    color: #fff;
    font-weight: 500px;
    font-size: 20px;
    line-height: 29px;
    border-radius: 2px;
}

/* info-section */
/* blog section */
#blogs {
    background-color: #EDF7FA;
    ;
}


.blogs-resent {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    align-items: center;
}

.blogs-resent-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.blogs-resent-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #00A8CC;
}

.blogs-posts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.blogs-post {
    width: 47%;
    background-color: #fff;
    padding: 22px;
}

.blogs-post-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 27px;
}

.blogs-post-date {
    display: flex;
}

.post-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 11px;
}

.mr-26 {
    margin-right: 26px;
}

.ml-26 {
    margin-left: 26px;
}

.blog-post-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

/* blog section */

/* project section */
.works {
    padding-top: 15px;
    padding-bottom: 52px;
}

.proje-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}

.proje-img {
    width: 246px;
    height: 180px;
    margin-right: 18px;
    object-fit: cover;
    object-position: 50px 50px;
}

.proje-img img {
    height: 100%;
    width: 100%;
}

.project-item {
    display: flex;
    padding-top: 22px;
    padding-bottom: 15px;
    border-bottom: 1px;
    margin-bottom: 31px;
    border-bottom: 1px solid #E0E0E0;
}

.proje-info-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 16px;
}

.proje-info-timebox {
    margin-bottom: 17px;
}

.proje-time {
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    background-color: #21243D;
    color: #fff;
    border-radius: 50px;
    padding: 0 10px;
    margin-right: 26px;
}

.proje-category {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding: 0 17px;
}

.proje-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    letter-spacing: 1px;
}

/* project section */

/* main */
/* foot */


.footer {
    bottom: 0;
    width: 100%;
}

.footer-wrapper {
    justify-content: center;
    line-height: 26px;
    text-align: center;
    padding: 30px;
    margin-top: 70px;
}

.footer-sosial i {
    font-size: 30px;
}

.footer-sosial :not(:last-child) {
    margin-right: 35px;

}

.copy {
    margin-bottom: 40px;
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

/* foot */


/* media queries */
@media screen and (max-width: 820px) {
    .info-title {
        font-size: 26px;
        line-height: 45px;
        margin-bottom: 34px;
    }

    .informat-right {
        justify-content: flex-end;
    }

    .container {
        margin: 0 108px;
    }

    .info {
        justify-items: center;
        margin-bottom: 95px;
    }

    .blogs-posts {
        flex-direction: column;
    }

    .blogs-post {
        width: 100%;
        margin-bottom: 10px;
    }

    .proje-info {
        width: 50%;
    }

    .proje-info-title {
        font-size: 22px;
        margin-bottom: 8px;
        line-height: 0;
    }

    .proje-info-timebox {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 540px) {
    .container {
        margin: 0 60px;
    }

    .header li a {
        font-size: 16px;
    }

    .info {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .info__about {
        width: 100%;
        align-items: center;
    }

    .informat-right {
        align-items: center;
        margin-top: 25px;
    }

    .info-title {
        line-height: 35px;
        margin-bottom: 10px;
    }

    .paraqraf {
        margin-bottom: 20px;
    }

    .project-item {
        flex-direction: column;
    }

    .proje-img {
        width: 420px;
        height: 286px;
        margin-bottom: 20px;
    }

    .proje-info {
        width: 100%;
    }
}

@media screen and (max-width: 415px) {
    .proje-img {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }
    .cointainer{
        margin: 0 38px;
       
    }
    .proje-img {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }
  
    .b-title{
        font-size: 65px;
        width: 50%;
    }
    .b-posts{
       flex-direction: column;
    }
    .b-post{
        width: 100%;
        margin-bottom: 5px;
    }
}



    /* media queries */